*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dimension: calc(100svh / 15);
    --hole: rgb(84, 84, 84);
    --gravings: rgb(166, 166, 166);
    --transparancy: 0.4;
}

body {
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color:rgba(244, 165, 96, 0.661) ; */
}

.board {
    width: calc(5 * var(--dimension));
    max-width: 100%;
    height: 100%;

    padding: calc(var(--dimension) / 2) 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.secret-code {
    width: calc(4 * var(--dimension));
    height: var(--dimension);

    display: flex;
    justify-content: center;
    align-items: center;

    border: var(--gravings) solid 1px;
}

.secret-code span {
    font-size: large;
}

.playground {
    width: 100%;
    height: calc(12 * var(--dimension));
}

.row {
    width: 100%;
    height: var(--dimension);

    border-bottom: 1px solid var(--gravings);

    display: flex;
}

.result {
    height: 100%;
    width: var(--dimension);

    display: flex;
    flex-wrap: wrap;
}

.result .placeholder {
    height: calc(var(--dimension) / 8);
    width: calc(var(--dimension) / 8);

    margin: calc(var(--dimension) / 5.5);

    border-radius: 50%;

    background-color: var(--hole);
}

.attempt {
    height: 100%;
    width: calc(4 * var(--dimension));

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.attempt .placeholder {
    height: calc(var(--dimension) / 4);
    width: calc(var(--dimension) / 4);

    border-radius: 50%;

    outline: 1px solid var(--gravings);
    outline-offset: calc(var(--dimension) / 6);

    background-color: var(--hole);
}

.pawns {
    width: 100%;
    height: var(--dimension);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pawn {
    height: calc(7 * var(--dimension) / 12);
    width: calc(7 * var(--dimension) / 12);

    border: 1px solid var(--gravings);

    opacity: var(--transparancy);

    border-radius: 50%;
}

#black {
    background-color: rgb(74, 74, 74);
}

#white {
        
    background-color:rgb(254, 237, 237);
}

#red {
        
    background-color:rgb(255, 69, 69);
}

#blue {
        
    background-color: rgb(69, 69, 232)
}

#yellow {
    background-color: rgb(210, 210, 0);
}

#green {
    background-color: rgb(41, 125, 41);
}
