*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dimension: calc(100svh / 15);
    --hole: rgb(95, 95, 95);
    --gravings: rgb(166, 166, 166);
    --transparancy: 0.5;

    --black: rgb(74, 74, 74);
    --white: rgb(254, 237, 237);
    --red: rgb(255, 69, 69);
    --blue: rgb(69, 69, 232);
    --yellow: rgb(210, 210, 0);
    --green: rgb(41, 125, 41);
}

body {
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color:rgba(244, 165, 96, 0.661) ; */
}

.board {
    width: calc(5 * var(--dimension));
    max-width: 100%;
    height: 100%;

    padding: calc(var(--dimension) / 2) 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.secret-code {
    width: calc(4 * var(--dimension));
    height: var(--dimension);

    display: flex;
    justify-content: center;
    align-items: center;

    border: var(--gravings) solid 1px;
}

.secret-code span {
    font-size: large;
}

.playground {
    width: 100%;
    height: calc(12 * var(--dimension));
}

.row {
    width: 100%;
    height: var(--dimension);

    border-bottom: 1px solid var(--gravings);

    display: flex;

    position: relative;
}

.rownumber, .confirm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rownumber {
    left: calc(-0.5 * var(--dimension));
    font-size: small;
    color: var(--gravings);
}

.confirm {
    right: calc(-0.5 * var(--dimension));
    font-weight: bold;
}

.confirm button {
    height: calc(var(--dimension)/2);
    width: calc(var(--dimension)/2);

    font-size: calc(var(--dimension)/4);
}

.result {
    height: 100%;
    width: var(--dimension);

    display: flex;
    flex-wrap: wrap;
}

.result .placeholder {
    height: calc(var(--dimension) / 12);
    width: calc(var(--dimension) / 12);

    margin: calc(var(--dimension) / 4.8);

    border-radius: 50%;

    background-color: var(--hole);
}

.attempt {
    height: 100%;
    width: calc(4 * var(--dimension));

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.attempt .placeholder {
    height: calc(var(--dimension) / 4);
    width: calc(var(--dimension) / 4);

    border-radius: 50%;
    margin: calc(var(--dimension) / 6);

    outline: 1px solid var(--gravings);
    outline-offset: calc(var(--dimension) / 6);

    background-color: var(--hole);
}

.colorselections {
    width: 100%;
    height: var(--dimension);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colorselection {
    height: calc(7 * var(--dimension) / 12);
    width: calc(7 * var(--dimension) / 12);

    border: 1px solid var(--gravings);

    border-radius: 50%;
}

.selected {
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 2px, rgb(31, 193, 27) 0px 0px 0px 4px, rgb(255, 217, 19) 0px 0px 0px 6px, rgb(255, 156, 85) 0px 0px 0px 8px, rgb(255, 85, 85) 0px 0px 0px 10px;
}

.not-selected {
    opacity: var(--transparancy);
}

.black {
    background-color: var(--black);
}

.white {
        
    background-color:var(--white);
}

.red {
        
    background-color:var(--red);
}

.blue {
        
    background-color: var(--blue);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.pawn {
    height: calc(7 * var(--dimension) / 12);
    width: calc(7 * var(--dimension) / 12);

    border: 1px solid var(--gravings);

    border-radius: 50%;
}